# Node modules en todo el proyecto
node_modules/

# Builds backend
backend/dist/

# Builds frontend 
frontend/dist/

# Ignora build y dist de Docusaurus o tsc accidentales
docs/build/
docs/dist/

# Variables de entorno
.env

# Tests y archivos sueltos
test/
test-upload.html